[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python = "*"
pillow = "*"
scikit-image = "*"

[dev-packages]
pycodestyle = "*"
mypy = "*"
build = "*"
pytest = "*"
isort = "*"
tox = "*"
rstcheck = {extras = ["toml", "sphinx"], version = "*"}
twine = "*"
types-pillow = "*"
imggen = {file = "../imggen", editable = true}
imgwriter = {file = "../imgwriter", editable = true}
furo = "*"
imgfilt = {file = ".", editable = true}

[requires]
python_version = "3.9"
